body{
    background-color: lightblue;
}

#grid-container{
    background-color: lightcoral;
    width: 800px;
    height: 800px;
    display: grid;
    margin-left: auto;
    margin-right: auto;

}

#reset-button{
    background-color: rgb(226, 181, 216);
    margin: 0 auto;
    display: block;
}
